@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Caveat', cursive;
}

.App {
  text-align: center;
}

.header-row {
  background-color: #ffeaa7;
}

h4 {
  padding-top: 20px;
  text-align: center;
}

.emoji {
  text-align: center;
  font-size: 100px;
}

.tasks-row {
  margin-top: 10px;
  font-size: 25px;
}

input[type="text"] {
  font-size: 25px;
}

input::placeholder {
  font-size: 25px;
}

.available-tasks {
  font-size: 25px;
}

.available-tasks span {
  font-size: 10px;
  cursor: pointer;
}

